@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    font-family: 'Sen', sans-serif;
    /* background: #1ba1f2; */
    background: url('ocean1.jpg');
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 550px;
    height: 680px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.5);
  }  

  form {
    width: 90%;
  }
  
  .first {
    margin-top: 1rem;
    color: dodgerblue;
  }
  
  .form-group {
    height: 65px;
  }
  
  h1 {
    margin: 1rem auto;
  }
  
  label {
    position: relative;
    bottom: 3px;
  }
  